.navwrap{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 20px;
  column-gap: 20px ;
  position: sticky;
  top: 0;
  .navs{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    &:hover{
      color: orangered;
    }
    &::selection{
      background-color: orangered;
    }
  }
}