@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    transition: .3s ease-in;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}
body{
    background-color: #1F2235;
}